<div class="addRest">
  <h1>Login</h1>
</div>
<div class="loginDiv">
<form class="container">
  <div class="form-group">
    <input type="email" class="form-control" name="email" placeholder="Email address" [(ngModel)]="email">
  </div>
  <br>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password">
  </div>
  <br>
  <button type="submit" class="btn btn-dark" (click)="goToHome()">Log In</button>
</form>
</div>

<!-- <h1 class="titleh" style="text-align: center; color: black;">Login</h1>
<br>
<div class="formDiv">
<form>
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" placeholder="Email" [(ngModel)] = "email"/>
  </div>

  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" placeholder="Password" [(ngModel)] = "password"/>
  </div>

  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      
    </div>

  </div>

  <div class="d-grid gap-2 col-6 mx-auto">
    <button type="button" class="btn btn-dark" (click)="goToHome()">Sign in</button>
  </div>

</form>
</div>
<br>
 -->

<!--<div class="childdiv">
  <button (click)="goToAlert()" class="btn btn-light btn-lg nextpage">Next Page</button>
    <button (click)="simpleAlert()" class="btn btn-primary btn-lg">Rigster</button>
    <button (click)="alertWithSuccess()" class="btn btn-success btn-lg">Submit</button>
    <button (click)="confirmBox()" class="btn btn-danger btn-lg">Delete</button>
    </div> -->



